

body {
	height: 100%;
}

/* Styling of Questions and Answers */

h3 {
	color: white;
}

p {
	padding: 15px;
	margin: 0px;
	background-color: rgba(239, 247, 250,.6);
	border-radius: 18px;
	color: #23395B;
	font-size: 1.2em;
	margin-top: 20px;

}

.header {
	padding: 60px;
}

/* Styles to divide the screen into two columns */

.col {
	min-width: 400px;
}

.quotes {
	padding: 10px 80px;
}

.left {
	padding-right: 40px;
}

.right {
	padding-left: 40px;
}