<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/index_styles.css">
<link rel="stylesheet" type="text/css" href="../static/about_us.css">
<link rel="stylesheet" type="text/css" href="../static/nav_styles.css">

<head>
  <title>About Us</title>
</head>

<header>
	<nav> 
		<ul>
		  <li><a href="index.html">Home</a></li>
		  <li><a href="about_us.html">About Us</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="references.html">References</a></li>
		</ul> 
	</nav>
</header>

<div class="header jumbotron text-center">
	<h1>About Us</h1>
</div>
<body>
	<div class="bios">
		<div class="row">
		  <div class="column">
		    <div class="card">
		      <img src="/static/jill.jpeg" alt="Jillian" style="width:100%">
		      <div class="content">
		        <h3>Jillian Baggett</h3>
		        <p class="title">Co-Creator</p>
		        <p class="bio">Jillian is a graduating senior at <strong>Tulane University</strong>, Class of 2021, studying Biomedical Engineering and Computer Science. Following her graduation, she will be attending <strong>Duke School of Law</strong> beginning in fall 2021 to obtain her J.D. degree. She plans to enter the fields of health law, technology law, or intellectual property law upon obtaining her law degree. Outside of school, she likes to roller skate and run. </p>
		        <p style="text-align: center;"><a href="mailto:jbaggett1@tulane.edu">jbaggett1@tulane.edu</a></p>
		        <p id="btn"><button class="button"><a href="mailto:jbaggett1@tulane.edu" class="contact">Contact</a></button></p>
		      </div>
		    </div>
		  </div>

		  <div class="column">
		    <div class="card">
		      <img src="/static/leah.jpeg" alt="Leah" style="width:100%; justify-content:center;">
		      <div class="content">
		        <h3>Leah Kuperman</h3>
		        <p class="title">Co-Creator</p>
		        <p class="bio">Leah is a graduating senior at <strong>Tulane University</strong>, Class of 2021, studying Computer Science and Mathematics as well as minoring in Spanish and Psychology. Following her graduation, she will be moving to Chicago, IL to pursue her role as a Software Engineer at <strong>J.P. Morgan Chase & Co.</strong> Leah’s interests in the field include UX/UI Development, Data Science, and Machine Learning. Outside of academics, she loves cooking, practicing yoga, and spending time outdoors!</p>

		        <p style="text-align: center;"><a href="mailto:lkuperman@tulane.edu">lkuperman@tulane.edu</a></p>
		        <p id="btn"><button class="button"><a href="mailto:lkuperman@tulane.edu" class="contact">Contact</a></button></p>
		      </div>
		    </div>
		  </div>

		  <div class="column">
		    <div class="card">
		      <img src="/static/lauren.jpg" alt="Lauren" style="width:100%">
		      <div class="content">
		        <h3>Lauren Sussman</h3>
		        <p class="title">Co-Creator</p>
		        <p class="bio">Lauren is a graduating senior at <strong>Tulane University</strong>, Class of 2021, studying Computer Science and Physics. Following graduation, she will be working for Amazon as a Software Development Engineer in Nashville, Tennessee. Lauren is interested in data science and visualization, machine learning, and web development. In her free time, she loves to rock climb, rollerblade in Audubon park, and make art. </p>

		        <p style="text-align: center;"><a href="mailto:lkuperman@tulane.edu">lsussman1@tulane.edu</a></p>
		        <p id="btn"><button class="button"><a href="mailto:lsussman1@tulane.edu" class="contact">Contact</a></button></p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

</body>
</html>
