<!doctype html>
<title>Site Maintenance</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Analysis Page Coming Soon</h1>
    <div>
        <p>We appreciate you submitting your letter of recommendation to help train our gender recognition algorithm. Please come back April 2021 to view our full analysis feature! Feel free to <a href="mailto:jbaggett1@tulane.edu">contact us</a> with questions</p>
        <p>Please hit the back arrow if you wish to submit another recommendation. </p>
        <p>&mdash; The Team: Jillian Baggett, Leah Kuperman, and Lauren Sussman</p>
    </div>
</article>