<!DOCTYPE html>
<html lang="en">

<!-- Link to Bootstrap formattting -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/index_styles.css">
<link rel="stylesheet" type="text/css" href="../static/nav_styles.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<head>
  <title> Welcome to the Letter of Recommendation Bias Indicator</title>
</head>

<header>
	<nav> 
		<ul>
		  <li><a href="/index.html">Home</a></li>
		  <li><a href="/about_us.html">About Us</a></li>
          <li><a href="/faq.html">FAQ</a></li>
          <li><a href="#">References</a></li>
		</ul> 
	</nav>
</header>

<div class="header jumbotron text-center" style="margin-bottom:0">
  <h1>Letter of Recommendation Bias Indicator</h1>
  <p>Our ML-powered gender bias detector will parse your letters of recommendation for indicators of bias and offer useful insights on simple modifications you can make to improve your letter.</p> 
</div>
<body>
<div class="container">

<div>
<h1 class="h3">
		Start here:
  </h1>
  <div>
    <form action='/process_letter_text' method="POST">
    	<div class="txtbox">
			  <textarea type="text" id="letterText" name="letterText" placeholder="Paste your letter text."></textarea>
			  
			  <div>
				<h1 class="h4" style="color:white">
					Enter any words to be redacted, separated by a comma and a space:
				  </h1>
				  <div>
  		</div class="txtbox">
		  <input type="text" id="studentName1" name="studentName1" placeholder="Ex. Sally, Lewis, Tulane, Anatomy">
		  <div>
			<h1 class="h4" style="color:white">
				Select the gender of the recommendee:
			  </h1>
			  <div>
		<input type="checkbox" id="male" name="gender_form" value=1>
		<label style="color:white" for="male"> Cisgender Male</label><br>
		<input type="checkbox" id="female" name="gender_form" value=0>
		<label style="color:white" for="=female"> Non-male (female, transgender, non-binary)</label><br>
		  <script type="text/javascript">
		  	function doesContainSubstr(doc_string, arr_strings)
			{ 
				for (i in arr_strings) {
					console.log(i)
					if (doc_string.includes(arr_strings[i])) {
						return true
					}
				}
				return false
			}
	        function anon()
	        {  doc_str = document.getElementById("letterText").value.toLowerCase()
			   student_name1 = document.getElementById("studentName1").value.toLowerCase()
			   arr_values = student_name1.split(", ")
			   bool_check = true
			   console.log(arr_values)
			   console.log(doesContainSubstr(doc_str, arr_values))
			   if (doesContainSubstr(doc_str, arr_values) == true && doc_str != '') {
				while (doesContainSubstr(doc_str, arr_values) == true && bool_check == true) {
					for (i in arr_values) {

						if (doc_str.includes(arr_values[i]) && arr_values[i] != '') {
							new_str = doc_str.replace(arr_values[i], "REDACTED")
							doc_str = new_str
							document.getElementById("letterText").value = new_str
							console.log(doc_str)
						}
						if (arr_values[i] == '')
						{
							bool_check = false
						}
					}
	            
			   }
			   }
			}

		</script>



      <div class="button" class="btn btn-lg">
	      <!--<input name="action" value="anonymize" onclick = "anon();">-->
        <!--<input type="submit" id="anon" name="action" value="Anonymize" onclick = "anon();">-->
        <button type="button" name="action" value="Anonymize" class="btn" onclick="anon();">Anonymize</button>
	      <input type="submit" class="btn" id="submit" name="action" value="Submit"> 
      </div>
      
  </form>
</div>
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

</script>
</body>
</html>