<!DOCTYPE html>
<html lang="en">

<!-- Link to Bootstrap formattting -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/index_styles.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<head>
  <title> Welcome to the Letter of Recommendation Bias Indicator</title>
</head>
<div class="header jumbotron text-center" style="margin-bottom:0">
  <h1>Letter of Recommendation Bias Indicator</h1>
  <p>Our ML-powered gender bias detector will parse your letters of recommendation for indicators of bias and offer useful insights on simple modifications you can make to improve your letter.</p> 
</div>
<body>
<div class="container">

<div>
<h1 class="h3">
		Start here:
  </h1>
  <div>
    <form action='/process_letter_text' method="POST">
    	<div class="txtbox">
      		<input type="text" id="letterText" name="letterText" placeholder="Paste your letter text.">
  		</div class="txtbox">
  		<input type="text" id="studentName" name="studentName" placeholder="Recommendee Name">
      	<script type="text/javascript">
	        function anon()
	        {  doc_str = document.getElementById("letterText").value
	           student_name = document.getElementById("studentName").value
	           new_str = doc_str.replace(student_name, "ANON")
	           document.getElementById("letterText").value = new_str
	        }
        </script>

      <div class="button" class="btn btn-lg">
	      <!--<input name="action" value="anonymize" onclick = "anon();">-->
        <!--<input type="submit" id="anon" name="action" value="Anonymize" onclick = "anon();">-->
        <button name="action" value="Anonymize" class="btn" onclick="anon();">Anonymize and Submit!</button>
	      <!-- <input type="submit" class="btn" id="submit" name="action" value="Submit"> -->
      </div>
      
  </form>
</div>
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

</script>
</body>
</html>