/*
#DEE8D5
#E9FAE3

*/
html, body {
	background-color: #406E8E;
}

p {

	margin-left: 15%;
	margin-right: 15%;
	padding: 0px 5px;

}

.header {
	background-color: #8EA8C3;
	padding-left: 50px;
	padding-bottom: 30px;
	border-bottom: 2px solid white;

}

.body {
	border-top: 2px solid white;
	margin-top: 5px;
	width: 100%;
	background-color: #23395B;
	height: 500px;
}

.form-group
{
width: 50%;
padding-left: 50px;
padding-top: 0px;
}

.input-group .input-group-lg {
	width: 500px;

}

#textboxid
{
    justify-content: center;
    text-align: center;
    height:500px;
    font-size:14pt;
    border-radius: 20px;
}


#letterText {
	text-align: left;
	padding: 0px 300px 200px 20px;
	border-radius: 20px;
	border: none;
	background-color: white;
}

.btn .btn-lg {
	color: #DEE8D5;
}

form {
	margin-top: 10px;
	padding: 0px;
	justify-content: center;

}
.button {
	margin-top: 10px;
}

.h3 {
	color: white;
	padding-top: 10px;
	padding-left: 20%;
}
