<!DOCTYPE html>
<html lang="en">

<!-- Link Appropriate Stylesheets -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/index_styles.css">
<link rel="stylesheet" type="text/css" href="../static/nav_styles.css">
<link rel="stylesheet" type="text/css" href="../static/ref.css">

<head>
  <title>References</title>
</head>

<!-- Consistent Nav Bar Across All Pages -->
<header>
	<nav> 
		<ul>
		  <li><a href="index.html">Home</a></li>
		  <li><a href="about_us.html">About Us</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="references.html">References</a></li>
		</ul> 
	</nav>
</header>

<!-- Page Header -->
<div class="header jumbotron text-center">
	<h1>References</h1>
</div>

<!-- List References -->
<body>
<div>
	<p>Akos, P., & Kretchmar, J. (2016). Gender and Ethnic bias in Letters of Recommendation: Considerations for School Counselors. Professional School Counseling. https://doi.org/10.5330/1096-2409-20.1.102</p>
	<p>“Amazon Web Services Free Tier.” Amazon Web Services , Amazon, aws.amazon.com/free/?all-free-tier.sort-by=item.additionalFields.SortRank.</p>
	<p>Forth, Tom. (2013). Tom Forth’s Homepage. www.tomforth.co.uk/genderbias/.</p>
	<p>“Find a Doctor - Doctor Reviews - Online Doctor Appointments.” Healthgrades, www.healthgrades.com/. </p>
	<p>Frances Trix, Carolyn Psenka. “Exploring the Color of Glass: Letters of Recommendation for Female and Male Medical Faculty - FRANCES TRIX, CAROLYN PSENKA, 2003.” SAGE Journals, 2003, https://journals.sagepub.com/doi/abs/10.1177/0957926503014002277?casa_token=fj_P_MCeg0cAAAAA:xNKghmq5H7Wm-YT6TTNJYaa0AQR0XOAQfel569090F7VevjQ19vT9G_TS4gn0oLAssCpJ7z99dtN</p>
	<p>Heilman, M. E. (2012). Gender stereotypes and workplace bias. Research in Organizational Behavior, 32, 113-135. https://doi.org/10.1016/j.riob.2012.11.003</p>
	<p>Landrum, R. E., Jeglum, E. B., & Cashin, J. R. (1994). The decision-making processes of graduate admissions committees in psychology. Journal of Social Behavior & Personality, 9(2), 239–248.</p>
	<p>Lopez, S. J., Oehlert, M. E., & Moberly, R. L. (1996). Selection criteria for American Psychological Association-accredited internship programs: A survey of training directors. Professional Psychology: Research and Practice, 27(5), 518–520.</p>
	<p>Madera, Juan, and Michelle Hebl. Gender and Letters of Recommendation for Academia: Agentic and Communal Differences. 2009, www.academic.umn.edu/wfc/rec letter study 2009.pdf. </p>
	<p>Mattei, Nicholas. “‘Introduction to Data Science.’” Tulane University, 2020, New Orleans, Louisiana.</p>
	<p>Mccarthy, Julie & Goffin, Richard. (2001). Improving the Validity of Letters of Recommendation: An Investigation of Three Standardized Reference Forms. Military Psychology. 13. 199-222. </p>
	<p>Natural Language Toolkit. (n.d.). Retrieved September 06, 2020, from https://www.nltk.org/</p>
	<p>Sheehan, E. P., McDevitt, T. M., & Ross, H. C. (1998). Looking for a job as a psychology professor? Factors affecting applicant success. Teaching of Psychology, 25(1), 8–11. https://doi.org/10.1207/s15328023top2501_3.
Scikit-learn: Machine Learning in Python, Pedregosa et al., JMLR 12, pp. 2825-2830, 2011.</p>
	<p>Pallets. “Welcome to Flask.” Welcome to Flask - Flask Documentation (1.1.x), 2010, flask.palletsprojects.com/en/1.1.x/. </p>

</div>
</body>
</html>
