<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" 
        content="width=device-width,  
                 initial-scale=1,  
                 shrink-to-fit=no"> 
  <title> 
    Text Analysis
  </title> 
  
  <!-- Include Bootstrap for styling -->
  <link rel="stylesheet" 
        href= 
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
  
  <!-- Include the Bootstrap Table 
  CSS for the table -->
  <link rel="stylesheet"
        href= 
"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css"> 
</head> 
<body> 
  <h1 class="text-header text-center"> 
    Text Analysis 
  </h1> 

  <h6 class="text-header text-center"> 
    Your Text
  </h6> 
  <div class="text-header text-center" style= "background-color:gainsboro; padding-bottom:10px; padding-top:20px; margin-left:40px; margin-right:40px;">
    <p>
    {% for i in highlighted_text %}
    
    {% if i in biased_words%}
    <mark>{{i}}</mark><style>mark {
      background-color:aquamarine;
      color: black;
    }</style>
    {% else %}
    {{i}}
    {% endif %}
    {% endfor %}
  </p>
  
  </div>
  <h6 class="text-header text-center"> 
    View the associations of each highlighted word below:
  </h6> 
  <div class="container"> 
      <table class="table-striped border-success"> 
        <thead> 
          <tr> 
            <th data-field="word"> 
              <span class="text-header"> 
                Word
              </span> 
            </th> 
            <th data-field="association"> 
              <span class="text-header"> 
                Associations
              </span> 
            </th>  
          </tr> 
        </thead> 
      </table> 
  </div> 
  <style>
    .text-header
    {
      color:black;
      padding-top: 20px;
    }
  </style>
  <!-- Include jQuery and other required files for Bootstrap -->
  <script src= 
"https://code.jquery.com/jquery-3.3.1.min.js"> 
  </script> 
  <script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
  </script> 
  <script src= 
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
  </script> 
  
  <!-- Include the JavaScript file for Bootstrap table -->
  <script src= 
"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"> 
  </script> 
  
  <!-- Include the file where the JSON data is stored -->
  <script type="text/javascript" > 
    var mydata = '{{ results|tojson }}';
    console.log(mydata)
  </script> 

  <script type="text/javascript"> 
    $(document).ready(function () { 
      // Use the given data to create  
      // the table and display it 
      var mydata2 = JSON.parse(mydata);
      $('table').bootstrapTable({ 
        data: mydata2
      }); 
    }); 
  
    // Parse the imported data as JSON 
    // and store it 
  </script> 
<br/></br>
  <h2 class = "text-header text-center"
  > Explanation of Associations Found
</h2>
<div class="text-header text-left" >
  {% if "Female Gendered" in unique_associations %}
	<h6 style="background-color:gainsboro;margin-left:40px;margin-right:40px"><b>Female Gendered</b></h6>
  <p style="background-color:gainsboro;margin-left:40px;margin-right:40px">
    Receiving this assciation means that one or more of the words in this written letter was associated with the female gender by our preliminary machine learning predictive gender model. 
  </p>
  {% endif %}
  {% if "Male Gendered" in unique_associations %}
	<h6 style="background-color:gainsboro;margin-left:40px;margin-right:40px">Male Gendered</h6>
  <p style="background-color:gainsboro;margin-left:40px;margin-right:40px">
    Receiving this association means that one or more of the words in this written letter was associated with the female gender by our preliminary machine learning predictive gender model. 
  </p>
  {% endif %}
</div>
</body> 
</html>