<!DOCTYPE html> 
<html lang="en"> 
<link rel="stylesheet" type="text/css" href="../static/index_styles.css">
<link rel="stylesheet" type="text/css" href="../static/results.css">
<link rel="stylesheet" type="text/css" href="../static/nav_styles.css">
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" 
        content="width=device-width,  
                 initial-scale=1,  
                 shrink-to-fit=no"> 
  <title style="color: white"> 
    Text Analysis
  </title> 
  
  <!-- Include Bootstrap for styling -->
  <link rel="stylesheet" 
        href= 
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
  
  <!-- Include the Bootstrap Table 
  CSS for the table -->
  <link rel="stylesheet"
        href= 
"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css"> 
</head> 

<header>
  <nav> 
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about_us.html">About Us</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="references.html">References</a></li>
    </ul> 
  </nav>
</header>

<body 	style="background-color: #406E8E;border-radius: 8px;padding-bottom: 400px;"> 
 <div> 
  <h1 class="text-header text-center" style="color:white"> 
    Text Explanation and Analysis 
  </h1> 
  <h2 class="text-header text-center" style="color:white"> 
    Why Does This Matter?
  </h2> 
  <p class="text-header text-center" style="margin-left:40px; margin-right:40px;color:white"><i>"Women were
    described as more communal and less agentic than men and that communal characteristics
    have a negative relationship with hiring decisions in academia that are based on letters of recommendation. Such results are particularly important because letters of recommendation continue to
    be heavily weighted and commonly used selection tools" </i><a href="http://www.academic.umn.edu/wfc/documents/rec%20letter%20study%202009.pdf" >Source</a> </p>
  <h6 class="text-header text-center" style="color:white"> 
    Your Text
  </h6> 
</div>
  <div class="text-header text-center" style= "background-color:gainsboro; padding-bottom:10px; padding-top:20px;">
    <p style="color:black"> 
    {% for i in highlighted_text %}
    
    {% if i in biased_words%}
    <mark>{{i}}</mark><style>mark {
      background-color:aquamarine;
      color:black;
    }</style>
    {% else %}
    {{i}}
    {% endif %}
    {% endfor %}
  </p>
  
  </div>
  <h6 class="text-header text-center" style="color: white"> 
    View the associations of each highlighted word below:
  </h6> 
  <p class="text-header text-center" style="color: white"> 
    Note that Professionally Oriented and Potentially Gender Biased terms were flagged using our machine learning algorithm. These results were consistent with the research papers we had collected. Professionally Oriented refers to words that are predictive of those of gender men, where Potentially Gender Biased words were predictive of genders women, transgender, nonbinary, etc. 
  </p> 
  <div class="container"> 
      <table class="table-striped border-success" style="background-color:white"> 
        <thead> 
          <tr> 
            <th data-field="word"> 
              <span class="text-header"> 
                Word
              </span> 
            </th> 
            <th data-field="association"> 
              <span class="text-header">  
                Associations
              </span> 
            </th>  
            <th data-field="synonyms"> 
              <span class="text-header"> 
                Possible Word Replacements
              </span> 
            </th>  
          </tr> 
        </thead> 
      </table> 
  </div> 
  <style>
    .text-header
    {
      padding-top: 20px;
      
    }
  </style>
  <!-- Include jQuery and other required files for Bootstrap -->
  <script src= 
"https://code.jquery.com/jquery-3.3.1.min.js"> 
  </script> 
  <script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
  </script> 
  <script src= 
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
  </script> 
  
  <!-- Include the JavaScript file for Bootstrap table -->
  <script src= 
"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"> 
  </script> 
  
  <!-- Include the file where the JSON data is stored -->
  <script type="text/javascript" > 
    var mydata = '{{ results|tojson }}';
    console.log(mydata)
  </script> 

  <script type="text/javascript"> 
    $(document).ready(function () { 
      // Use the given data to create  
      // the table and display it 
      var mydata2 = JSON.parse(mydata);
      $('table').bootstrapTable({ 
        data: mydata2
      }); 
    }); 
  
    // Parse the imported data as JSON 
    // and store it 
  </script> 
<br/></br>
  <h2 class = "text-header text-center" style="color: white"
  > Explanation of Associations Found
</h2>
<div class="text-header text-left" >
  {% if "Potentially Gender Biased" in unique_associations %}
  <div class="assoc" id="one">
	<h6 class="assoc"><b> Potentially Gender Biased </b></h6>
  <p class="assoc">
    This association means that one or more of the words in this text were categorized by our machine learning analysis to have high predictive correspondence with the female gender. While this does not guarantee gender bias, it may be wise to consider more neutral or agentic language to provide the most objective language in this letter.
  </p>
  </div>
  {% endif %}
  {% if "Professionally Oriented" in unique_associations %}
  <div class="assoc" id="two">
	<h6 class="assoc"><b> Professionally Oriented </b></h6>
  <p class="assoc">
    This association means that one or more words in this text were identified by our machine learning algorithm to have high predictive correspondence with a male candidate. These words are not inherently biased, as they often view portray professional/academic oriented descriptions of a candidates achievements, however, it may be important to note if a high quantity of these words appears in a letter for a male candidate when compared to another letter for a female candidate.
  </p>
</div>
  {% endif %}
  {% if "Communal" in unique_associations %}
  <div class="assoc" id ="three">
	<h6 class="assoc"><b>Female Gendered: Communal</b></h6>
  <p class="assoc">
    This association is research based and means that one or more of the words in this text correspond with the female gender. Our source (see below) indicates that "Communal behaviors at work include being concerned with the welfare
    of others (i.e., descriptions of kindness, sympathy, sensitivity, and
    nurturance), helping others, accepting others’ direction, and maintaining relationships." These can erode the perception of professional accomplishments in academia or in the workplace, and we recommend that they be replaced by neutral language.
  </p>
</div>
  {% endif %}
  {% if "SocioCommunal" in unique_associations %}
  <div class="assoc" id="four">
	<h6 class="assoc"><b>Female Gendered: Socio-Communal</b></h6>
  <p class="assoc">
    This association is research based and means that one or more of the words in this text correspond with the female gender. Our source (see below) explains that "Psychologically, it reflects how much letter writers referred to
    other people when writing about the applicant" which can diminish the focus of the letter on the achievements of the applicant. It is recommended to remove both these terms, and phrases that might revolve around other subjects that are not the candidate specifically in question for said job or position.
  </p>
</div>
  {% endif %}
  {% if "Agentic" in unique_associations %}
  <div class="assoc" id="five">
	<h6 class="assoc"><b>Male Gendered: Agentic</b></h6>
  <p class="assoc">
    This association is research based and means that one or more of the words in this text correspond with the male gender. Our source (see below) indicates that "Agency includes descriptions of aggressiveness,
    assertiveness, independence, and self-confidence. Agentic behaviors at work include
    speaking assertively, influencing others, and initiating tasks." Words that are labeled as agentic can be helpful to candidates when being considered for leadership positions, job openings, and/or upward mobility in an organization. It is highly recommended to use these terms whenever possible.
  </p>
</div>
  {% endif %}
</div>
<div>
  <h7> <a href="http://www.academic.umn.edu/wfc/documents/rec%20letter%20study%202009.pdf" >Source</a> </h7>
</div>
</body> 
</html>